* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
}

#botao {
    padding: 2px 5px;
}

#p1, #p2 {
    font-weight: bold;
}